.header-form {
  display: flex;
  min-width: 10vw;
  min-height: 18vh;
  flex: 1;
  margin-bottom: 2px; 

  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #FFF;
}

.header-form-fields { 
  align-self: center
}

.header-form-buttom { 
  align-self: center;
  margin: 10px;
}